body{
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
    overflow: hidden;
}

.logo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
}
